#root {
  font-size: calc(10px + 2vmin);
}

.App-header {
  background-color: #5d9e39;
}

.App-footer {
  background-color: #855aa5;
}

.App-container {
  background-color: #282c34;
  color: white;
}

.App-home {
  height: 40vmin;
}

.App-link {
  color: #61dafb;
}
