#root {
  font-size: calc(10px + 2vmin);
}

.App-header {
  background-color: #f4f4f4;
}

#header-toolbar {
  border: none;
}

.App-footer {
  background-color: #855aa5;
  text-align: center;
}

.App-container {
  background-color: #282c34;
  color: white;
}

.App-home {
  height: 40vmin;
}

.App-link {
  color: #61dafb;
}
